<!-- Find Teammates (Query) Form -->

<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-11 col-md-12">
      <div class="panel panel-default faq">

        <!-- Title -->
        <div class="row">
          <div class="col-lg-2 col-md-12">
            <a class="font-weight-bold btn btn-info btn-sm" href="#">Fermer la FAQ</a>
          </div>
          <div class="col-lg-8 col-md-12">
            <div class="panel-heading">
                <h3 class="panel-title text-center">Foire aux Questions COVID-19</h2>
            </div>
          </div>
        </div>

        <!-- Questions -->
        <div class="row">
          <div class="col-lg-7 col-md-12">
            <div id="accordion">

              <!--Q1-->
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Est-il plus dangereux que la grippe ?
                    </button>
                  </h5>
                </div>
            
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body">
                    <h5>Oui, il est plus dangereux que la grippe !</h5>
                    <h6><u>Letalité</u></h6>
                    <p><b>3,4%</b>, c'est le taux de létalité du <b>Covid-19</b> selon l'OMS.
                      Ce taux est obtenu par le nombre de décès dû à cette maladie rapporté au nombre de personnes infectées par cette maladie.
                      C'est plus que la <b>grippe</b> qui, elle, tue "1 patient infecté sur 1.000" (soit <b>0,1%</b>), selon des estimations du Centre européen de prévention et de contrôle des maladies (ECDC).
                      L'étude la plus complète à ce jour est celle du Centre chinois de contrôle et de prévention des maladies (CCDC), publiée le 17 février, qui a analysé 45.000 cas confirmés en Chine.
                      Premier enseignement : plus les patients sont âgés, plus le taux de mortalité croît - un résultat constaté dans les autres pays.
                      Ainsi, plus de 80% des personnes décédées en Chine avaient plus de 60 ans.
                      La letalité pour les personnes de plus de 80 ans remonte à 14.8% selon CCDC.
                    </p>

                    <h6><u>Transmission et contagiosité</u></h6>
                    <p>
                      Le mode de transmission est le même que pour la grippe :
                      le coronavirus se transmet par voie aérienne en toussant ou éternuant, par contact rapproché entre deux personnes, ou par l'intermédiaire d'un objet ou d'une surface, préalablement touché par un malade.
                      La contagiosité du Covid-19 est supérieure à celle de la grippe saisonnière.
                      Le taux de contagiosité, également appelé taux de reproduction de base ou « Ro » par les spécialistes, donne le nombre moyen de personnes qui contractent le virus à partir d'un individu infecté.
                      Il tourne autour de <b>2,6</b> pour le Covid-19, ce qui le rend <b>1,7 fois plus contagieux</b> que la grippe saisonnière.
                      <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#R0Img" aria-expanded="false" aria-controls="letalityImg">
                          Plus d'information
                        </button>
                      </p>
                      <div class="collapse" id="R0Img">
                        <div class="card card-body">
                          
                          <div class="row">
                            <div class="col-lg-6 col-md-12">
                              <b>Taux de letalité</b>
                              <img src="../stats/ressources/img/letality.png" class="img-fluid" alt="Image taux de letalité">
                            </div>
                            
                            <div class="col-lg-6 col-md-12">
                              <b>Taux de contagiosité</b>
                              <img src="../stats/ressources/img/R0.png" class="img-fluid" alt="Image taux de contagiosité">
                            </div>
                          </div>
                        </div>
                      </div>
                    </p>
                  </div>
                </div>
              </div>


              <!--Q2-->
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                      Quels sont les symptômes ?
                    </button>
                  </h5>
                </div>
            
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    <p>Le coronavirus (COVID-19) donne des infections pulmonaires.
                      Les symptômes observés chez les malades sont : fièvre (94%), toux (79%), fatigue ou courbatures (44%) et atteintes pulmonaires avec dans les cas les plus graves un syndrome de détresse respiratoire aiguë c'est-à-dire une <b>défaillance des fonctions respiratoires</b>.
                      Covid-19 est associé à des formes asymptomatiques et bénignes avec une évolution plus grave, par exemple, une atteinte pulmonaire, 5 à 6 jours après les premiers symptômes.
                      On constate plus rarement des maux de gorge et des écoulements nasals par rapport à la grippe.
                    </p>
                    <div class="row d-flex justify-content-center">
                      <div class="col-xl-4 col-lg-6 col-md-12 text-center">
                        <img src="../stats/ressources/img/sypmtom.png" class="img-fluid" alt="Symptômes du nouveau coronavirus">
                        <small class="text-muted">(sources: maisonae.fr)</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Q3-->
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                      Quelles sont les séquelles possibles ?
                    </button>
                  </h5>
                </div>
            
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    <p><b>Dans 80% des cas, les symptômes de l'infection sont légers</b> pour le Covid-19.
                      En revanche, elles peuvent, dans les cas restants provoquer des maladies graves avec des atteintes du foie, des reins et des pneumonies.
                      On sait que plusieurs dizaines de milliers de personnes se sont rétablies, mais on ignore si celles qui ont eu des dommages pulmonaires en garderont des séquelles.
                      Une équipe de radiologues du Wuhan Union Hospital a réalisé des scanners des poumons des personnes qui ont contracté le virus, et publié ses résultats le 24 février 2020 dans le Lancet.
                    </p>

                    <p>
                      Lors de la première semaine de l'infection, avant même l'apparition des symptômes, des signes d'inflammation sont présents dans un poumon.
                      Cette inflammation se propage dans ce poumon, puis dans l'autre au cours des premières semaines de l'infection, avant de régresser.
                      Cependant, <b>les traces de l'infection restent visibles, même chez des patients guéris</b> : "Nous avons trouvé, disent les chercheurs, <b>des fibroses dans les poumons</b>, mais nous ne savons pas si elles sont réversibles".
                      On ignore donc si ces fibroses laisseront des séquelles. La grippe saisonnière ne laisse généralement pas de séquelles.
                    </p>

                    <p>
                      L'inflammation pulmonaire et la gravité des symptômes chez ces patients âgés ou à risque pourrait être due au fait que d'une part le système immunitaire réagit de manière excessive, avec une production élevée de médiateurs pro-inflammatoires comme les interleukines, et d'autre part que les défenses immunitaires (lymphocytes) sont trop faibles. 
                      <small class="text-muted">(<a href="https://www.lanutrition.fr/coronavirus-et-grippe-quelles-differences">sources</a>)</small>
                    </p>
                  </div>
                </div>
              </div>
              

              <!--Q4-->
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0 text-left">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                      Le confinement est-il vraiment nécessaire ?
                    </button>
                  </h5>
                </div>
            
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    <p>Un scénario très sombre a poussé le gouvernement à annoncer la fermeture des écoles puis des commerces non-alimentaires :</p>

                    <p>
                      Sans mesure d'endiguement, la conséquence du nouveau coronavirus aurait été, selon ce rapport, une vague considérable de décès, <b>de 300 000 à 500 000 morts</b>.
                      Dans une configuration où des consignes de prévention sont transmises, il est estimé que <b>30 000 à 100 000 lits de soins intensifs</b> allaient être nécessaires pour accueillir les patients malades pendant le pic de l'épidémie.
                      <b>C'est bien plus que les 5 000 lits de réanimation et 7 364 lits</b> dans les unités de soins intensifs disponibles en France, selon le directeur général de la Santé Jérôme Salomon.
                      <small class="text-muted">(<a href="http://www.leparisien.fr/societe/coronavirus-ce-rapport-alarmiste-qui-a-fait-pencher-l-elysee-du-cote-du-confinement-15-03-2020-8280411.php">sources</a>)</small>
                    </p>
                  </div>
                </div>
              </div>

              <!--Q5-->
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0 text-left">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                      Temps de survie maximale de différents coronavirus
                    </button>
                  </h5>
                </div>
            
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body">
                    <div class="row d-flex justify-content-center">
                      <div class="col-xl-6 col-lg-8 col-md-12 text-center">
                        <img src="../stats/ressources/img/Time.jpg" class="img-fluid" alt="Temps de survie maximale de différents coronavirus">
                        <small class="text-muted">(sources: Le Parisien)</small>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!--Q6-->
              <!--div class="card">
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0 text-left">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                      Temps de survie maximale de différents coronavirus
                    </button>
                  </h5>
                </div>
            
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                  <div class="card-body">
                    <p>
                      <div class="col-xl-6 col-lg-8 col-md-12">
                        <img src="../stats/ressources/img/Time.jpg" class="img-fluid" alt="Temps de survie maximale de différents coronavirus">
                        <small class="text-muted">(sources: Le Parisien)</small>
                      </div>
                    </p>
                  </div>
                </div>
              </div-->
            </div>
          </div>

          <div class="col-lg-5 d-none d-lg-block">
            <img src="../stats/ressources/img/coronavirus.png" class="img-fluid d-none d-lg-block" alt="Responsive image">
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>